*.class
# Package Files #
*.jar
*.war
*.ear

# ignore Maven generated target folders
target/
bin/
.idea/
.settings/
 
# ignore eclipse files
# This configuration is only suited for maven project,there will be 
# troubles when it is a assambled by Ant
*.project
*.classpath
*.settings
*.metadata
*.iml
*.idea